<template>
<v-card>
    <v-toolbar dark color="success">
        <v-btn icon dark @click.native="close">
            <v-icon>mdi-close</v-icon>
        </v-btn>
        <v-toolbar-title>Login</v-toolbar-title>
    </v-toolbar>

    <v-divider></v-divider>
    <v-container fluid>
        <v-form ref="form">
            <v-text-field
                v-model="email"
                label="email"
                required
                append-icon="mdi-email"
            ></v-text-field>
            <v-text-field
                v-model="password"
                label="password"
                counter
                
                id="id"
            ></v-text-field>  
        </v-form>
    </v-container>
</v-card>
</template>

<script>
export default {
    methods: {
        close(){
            this.$emit('closed', false)
        }
    },
}
</script>