<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>>Tugas-12-Ajax-Axios</title>
</head>

<body>
    <div id="app">
        <div class="container">
            <div class="header">
                <h1 class="judul">Tugas 12 Ajax Axios</h1>
                <p class="properti-judul">Membuat CRUD (hanya create, edit, update, delete, dan upload file) ke backend
                </p>

            </div>

            <div class="content">
                <form @submit.prevent="submitForm()">
                    <p v-if="errors.length">
                        <b>Please correct the following errors : </b>
                        <ul>
                            <li v-for="error in errors">{{ error }}</li>
                        </ul>
                    </p>
                    <label for="name">name</label><br /><input type="text" :disabled="buttonStatus == 'upload'" name="name" id="name" v-model="name" placeholder="Isikan name Anda"><br />
                    <label for="address">Alamat</label><br />
                    <input type="text" name="address" id="address" v-model="address" :disabled="buttonStatus == 'upload'" placeholder="Isi dengan alamat anda"><br />
                    <label for="noHP">Nomor Handphone</label><br /><input type="text" name="noHP" id="noHP" v-model="no_hp" :disabled="buttonStatus == 'upload'" placeholder="Isikan dengan No HP"><br />

                    <div v-if="buttonStatus === 'submit'">
                        <input type="submit" value="SIMPAN">
                    </div>
                    <div v-else-if="buttonStatus === 'update'">
                        <input type="button" value="UPDATE" @click="updateEditMember(idEditMember)">
                        <input type="button" value="CANCEL" @click="clearForm()">
                    </div>
                    <div v-else-if="buttonStatus === 'upload'">
                        <input type="file" value="photo" ref="photo">
                        <input type="button" value="UPLOAD" style="margin-top:5px; margin-bottom:5px; " @click="submitPhoto(idUploadPhoto)">
                        <input type="button" value="CANCEL" @click="clearForm()">
                    </div>
                </form>
                <members-table :members="members" @removed="removeMember($event)" @edited="editMember($event)" @uploadphoto="uploadPhoto($event)"></members-table>
            </div>
        </div>
    </div>
    <template id="membersTable" name="memberTable">
        <table border="1">
            <tr>
                <th>Photo</th>
                <th>Data</th>
                <th></th>
            </tr>
            <tr v-for="member of members">
                <td>
                    <img src="" alt="" width="100" :src="member.photo_profile ? constantaUri + member.photo_profile : 'https://dummyimage.com/16x9/000/fff.jpg'">
                </td>
                <td>
                    <b>Nama : </b>{{ member.name }}<br/>
                    <b>Alamat : </b>{{ member.address }}<br/>
                    <b>No HP : </b>{{ member.no_hp}}
                </td>
                <td>
                    <button @click="$emit('edited', member)">Edit</button>
                    <button @click="$emit('removed', member.id)">Hapus</button>
                    <button @click="$emit('uploadphoto', member)">Upload Photo</button>
                </td>
            </tr>
        </table>
    </template>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
        Vue.component('MembersTable', {
            template: '#membersTable',
            data() {
                return {
                    constantaUri: 'http://demo-api-vue.sanbercloud.com'
                }
            },
            props: ['members', 'photoDomain'],
            method: {
                removeMember: function(id) {
                    const config = {
                        method: "POST",
                        url: `http://demo-api-vue.sanbercloud.com/api/member/${id}`,
                        params: {
                            _method: "DELETE"
                        }
                    }
                    axios(config)
                        .then((response) => {
                            alert(response.data.message)
                            this.getAllDataMember()
                        })
                        .catch(() => {
                            console.log(error)
                        })
                    console.log(id)
                },
            }
        })
        var vm = new Vue({
            el: "#app",
            data: {
                name: '',
                address: '',
                no_hp: '',
                errors: [],
                members: [],
                idremove: '',
                buttonStatus: 'submit',
                idEditMember: null,
                idUploadPhoto: null,
            },
            methods: {
                validationForm: function() {
                    this.errors = []
                    if (this.name.length < 1) {
                        this.errors.push("Isi terlebih dahulu nama anda")
                        this.$refs.name.focus()
                    }
                    if (this.address.length < 10) {
                        this.errors.push("Isi alamat lebih dari 10 karakter")
                        this.$refs.address.focus()
                    }
                    if (this.no_hp.length < 1) {
                        this.errors.push("Isi terlebih dahulu no HP anda anda")
                        this.$refs.no_hp.focus()
                    } else if (this.no_hp.length > 13) {
                        this.errors.push("Isi no handphone maksimal 12 karakter")
                        this.$refs.no_hp.focus()
                    }

                    if (this.errors.length == 0) {
                        alert("Isi data parantos leres sareng dilebekeun ka lebet database")
                        let formData = new FormData();
                        formData.append('name', this.name)
                        formData.append('address', this.address)
                        formData.append('no_hp', this.no_hp)
                        const config = {
                            method: "POST",
                            url: "http://demo-api-vue.sanbercloud.com/api/member",
                            data: formData
                        }
                        axios(config)
                            .then((response) => {
                                this.clearForm()
                                this.getAllDataMember()
                            })
                            .catch((error) => {

                            })
                    }
                },
                submitForm: function() {
                    this.validationForm()

                },
                clearForm: function() {
                    this.name = ''
                    this.address = ''
                    this.no_hp = ''
                    this.buttonStatus = 'submit'
                    this.idEditMember = null
                },
                getAllDataMember: function() {
                    const config = {
                        method: "GET",
                        url: "http://demo-api-vue.sanbercloud.com/api/member"
                    }
                    axios(config)
                        .then((response) => {
                            this.members = response.data.members
                        })
                        .catch((error) => {
                            console.log(error)
                        })
                },
                removeMember: function(id) {
                    const config = {
                        method: "POST",
                        url: `http://demo-api-vue.sanbercloud.com/api/member/${id}`,
                        params: {
                            _method: "DELETE"
                        }
                    }
                    axios(config)
                        .then((response) => {
                            alert(response.data.message)
                            this.getAllDataMember()
                        })
                        .catch(() => {
                            console.log(error)
                        })
                    console.log(id)
                },
                editMember: function(member) {
                    this.name = member.name
                    this.address = member.address
                    this.no_hp = member.no_hp
                    this.idEditMember = member.id
                    this.buttonStatus = 'update'
                    console.log(member)
                },
                updateEditMember: function(id) {
                    this.validationForm()
                    if (this.errors.length === 0) {
                        let formData = new FormData()
                        formData.append('name', this.name)
                        formData.append('address', this.address)
                        formData.append('no_hp', this.no_hp)
                        let config = {
                            method: "POST",
                            url: `http://demo-api-vue.sanbercloud.com/api/member/${id}`,
                            params: {
                                _method: 'PUT'
                            },
                            data: formData
                        }
                        axios(config)
                            .then((response) => {
                                this.clearForm()
                                this.getAllDataMember()
                                alert(response.data.message)
                            })
                            .catch((error) => {
                                console.log(error)
                            })
                    }
                },
                uploadPhoto: function(member) {
                    this.name = member.name
                    this.address = member.address
                    this.no_hp = member.no_hp
                    this.idUploadPhoto = member.id
                    this.buttonStatus = 'upload'
                },
                submitPhoto: function(id) {
                    let file = this.$refs.photo.files[0];
                    let formData = new FormData()

                    formData.append('photo_profile', file)
                    let config = {
                        method: "POST",
                        url: `http://demo-api-vue.sanbercloud.com/api/member/${id}/upload-photo-profile`,
                        data: formData
                    }
                    axios(config)
                        .then((response) => {
                            this.clearForm()
                            this.getAllDataMember()
                            alert(response.data.message)
                        })
                        .catch((error) => {
                            console.log(error)
                        })
                },

            },
            created() {
                this.getAllDataMember()
            }
        })
    </script>

</body>

</html>