body {
    background-color: LightGray;
    font-family: Arial, Helvetica, sans-serif;
}

div.container {
    width: 100%;
    height: auto;
    
}

div.header {
    background-color: DodgerBlue;
    width: auto;
    height: 100px;
    border-radius: 10px;
}

div.content{
    margin-top: 20px;
    padding-top: 10px;
    width: auto;
    height: auto;
    background-color: rgb(141, 141, 141);
    display: flex;
    flex-wrap: nowrap;
    border-radius: 10px;
}
div.content > div{
    width: 50%;
    height: auto;
    background-color: rgb(141, 141, 141);
    margin-left: 15px;
    margin-bottom: 15px;
}


h1.judul {
    color: blanchedalmond;
    padding-top: 15px;
    padding-left: 15px;
}

p.properti-judul {
    color: blanchedalmond;
    margin-top: -19px;
    padding-left: 15px;
}

input[type=text], select {
    width: 97%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  textarea {
    width: 97%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  img {
    padding-top: 15px;
    width: 40%;
    height:60%;
  }