body {
    background-color: rgb(140, 174, 187);
    font-family: Arial, Helvetica, sans-serif;
}

div.container {
    width: 100%;
    height: auto;
}

div.header {
    background-color: DodgerBlue;
    width: auto;
    height: 100px;
    border-radius: 3px
}

div.content {
    margin: 20px 20px 20px 20px;
    padding: 10px 10px 10px 40px;
    width: auto;
    height: auto;
    background-color: rgb(159, 147, 187);
}

div.content>div {
    width: 50%;
    height: auto;
    background-color: rgb(141, 141, 141);
    margin-left: 15px;
    margin-bottom: 15px;
}

h1.judul {
    color: rgb(255, 255, 255);
    padding-top: 15px;
    padding-left: 15px;
}

p.properti-judul {
    color: rgb(255, 255, 255);
    margin-top: -19px;
    padding-left: 15px;
}

input[type=text] {
    width: 97%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

textarea {
    width: 97%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}