<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div id="app">
        <form v-on:submit.prevent="addNewUser">
            <input v-model="inputUser" type="text" id="inputUser" />
            <button>Add</button>
        </form>
        <ul>
            <li is="user-item" v-for="(user, index) in users" v-bind:key="user.id" v-bind:title="user.name" v-on:remove="users.splice(index, 1)"></li>
        </ul>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
        Vue.component('user-item', {
            template: '\
    <li>\
      {{ title }}\
      <button v-on:click="$emit(\'remove\')">Remove</button>\
    </li>\
  ',
            props: ['title']
        })
        new Vue({
            el: '#app',
            data: {
                inputUser: '',
                users: [{
                    id: 1,
                    name: 'Muhammad Iqbal Mubarok'
                }, {
                    id: 2,
                    name: 'Ruby Purwanti'
                }, {
                    id: 3,
                    name: 'Faqih Muhammad'
                }],
                newUserId: 4
            },
            methods: {
                addNewUser: function() {
                    this.users.push({
                        id: this.newUserId++,
                        name: this.inputUser
                    })
                    this.inputUser = ''
                }
            }
        })
    </script>
</body>

</html>