<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tugas-9-Dan-10-Form-Input-Binding</title>
</head>

<body>
    <div id="app">
        <form>
            <input type="text" name="bookName" v-model="cariBuku" />
        </form>
        <ul>
            <li v-for="book of filterBooks" :key="book.name">
                {{book.name}}
                </liv>
        </ul>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.0/dist/vue.js"></script>
        <script>
            var vm = new Vue({
                el: '#app ',
                data: {
                    cariBuku: "",
                    books: [{
                        name: 'Kalkulus Dasar'
                    }, {
                        name: 'Fisika Dasar '
                    }, {
                        name: 'Aljabar Linear Elementer'
                    }, {
                        name: 'Aljabar Abstrak'
                    }, {
                        name: 'Algoritma Pemromraman'
                    }]
                },
                computed: {
                    filterBooks() {
                        let tempBooks = this.books
                        if (this.cariBuku != '' && this.cariBuku) {
                            tempBooks = tempBooks.filter((item) => {
                                return item.name.toUpperCase()
                                    .includes(this.cariBuku.trim().toUpperCase())
                            })
                        }
                        return tempBooks

                    }
                }
            });
        </script>
</body>

</html>